<app-side-nav></app-side-nav>
<div class="main-container">
    <div class="container">
        <h2>Transaction History</h2>
        <form [formGroup]="todoForm" (ngSubmit)="onSubmitExpense()" class="input-form">
            <div class="form-group">
                <select formControlName="month" id="month" class="form-control" (change)="onChangeExpense($event)">
                    <option value="" disabled>Select Month</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>
            <div class="form-group">
            </div>
            <div class="total-todoTrans">
                Transaction for {{ selectedMonth }}: ${{ calculateTotalExpense(selectedMonth) }}
            </div>
        </form>
        <hr>
        <h3>Transaction History List - {{ selectedMonth }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todoTrans of getFilteredExpenses()">
                    <td [ngClass]="{ 'strikeout': todoTrans.selected}" (click)="toggleSelection(todoTrans)">{{
                        todoTrans.expenseType }}</td>
                    <td>{{ todoTrans.expenseAmount }}</td>
                </tr>
            </tbody>
        </table>
        <div class="input-form">
            <button class="btn btn-primary" (click)="onBack()">Back</button>
            <div class="form-group"></div>
        </div>
    </div>
</div>